@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --cor0-: #ffffff; /* branco */
    --cor1-: #c9c9c9; /* leve tom de cinza */
    --cor2-: #151515; /* Cinza mais escuro */
    --cor3-: #0066FF; /* Azul */

    --font1-:"Montserrat";
    --font2-:"Roboto Flex"
}

*{
    background-color: rgb(0, 0, 0);
    color:var(--cor0-);
    font-family: var(--font1-);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

strong {
    color: var(--cor3-);
}

/* MENU */

a {
    background: transparent;
    text-decoration: none;
    padding-inline: 30px;
}

header {
    padding-inline: 16px;
}

.nav-list a:hover {
    text-decoration: underline;
    color: var(--cor3-);
    cursor: pointer;
}

.nav {
    max-width: 1800px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bolder;
    font-size: 25px;
    padding: 0;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu {
    padding-block: 16px;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--cor0-);
    margin-right: 16px;
    cursor: pointer;
}

.hamburguer::before, .hamburguer::after {
    content:" ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--cor0-);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        clip-path: circle(100px at 90% -15%);
        transition: 2s ease-out;
        background: black;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .menu {
        font-size: 24px;
        opacity: 1;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.1s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.1s 0.2s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.1s 0.2s;
    }

    /* Estilo ativo menu */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* TEXTO TELA INICIAL */

main {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 51vh;
}

@media (max-width: 600px) {
    main {
        font-size: 28px; /* Reduz o tamanho da fonte */
        min-height: 70vh; /* aumenta o min-height para melhor visualização em telas pequenas */
        padding: 20px; /* Adiciona padding para evitar que o texto fique colado nas bordas */
    }

    .text-principal {
        font-size: 30px; /* Ajuste o tamanho da fonte do título principal */
    }

    .text-animation {
        font-size: 24px; /* Ajuste o tamanho da fonte do subtítulo */
    }
}

.text-principal {
    height: calc(100vh-70px);
}

.text-animation {
    animation: typing 2s steps(20, end);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #ffffff00;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
    width: 100%;
    }
 }

 footer {
    background-color: black;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
 }
